---
import Card from "../components/Card.astro";
import { SITE_TITLE } from "../constants";
import type { Feed } from "../env";
import Layout from "../layouts/Layout.astro";
import Parser from "rss-parser";

const emptyFeed = {
    items: [],
    lastBuildDate: new Date().toString(),
};

function getSourceURL() {
    const url = Astro.url.href.replace(`${Astro.url.origin}/`, "");

    if (url.indexOf(".") === -1) {
        return null;
    }

    try {
        return new URL(url);
    } catch (_) {}

    try {
        return new URL(`${Astro.url.protocol}//${url}`);
    } catch (_) {}

    return null;
}

async function parseFeed(url: URL | null): Promise<Feed> {
    if (!url) {
        return emptyFeed;
    }

    const { origin } = url;
    if (origin === Astro.url.origin) {
        return emptyFeed;
    }

    const parser = new Parser<Feed>({
        customFields: {
            item: ["description", "media:thumbnail"],
        },
    });
    try {
        return parser.parseURL(new URL(url).toString());
    } catch (error: TypeError) {
        return {
            ...emptyFeed,
            items: [
                {
                    title: error.name,
                    contentSnippet: error.message,
                },
            ],
        };
    }
}

const source = getSourceURL();
const { items, lastBuildDate, title } = await parseFeed(source);
---

<Layout title={SITE_TITLE}>
    <main>
        <h1>{title}</h1>
        <p class="font-bold">
            Updated: {lastBuildDate && new Date(lastBuildDate).toLocaleString()}
        </p>
        {items.map((item) => <Card item={item} />)}
        {
            Boolean(source) && (
                <code>
                    <a href={source} target="_blank">
                        {source}
                    </a>
                </code>
            )
        }
    </main>
</Layout>
