---
import Error from "../components/Error.astro";
import HTML from "../components/HTML.astro";
import XML from "../components/XML.astro";
import { SITE_TITLE } from "../constants";
import Layout from "../layouts/Layout.astro";
import { getSourceURL, parse, ParseResults } from "../utils";

const source = getSourceURL(Astro);
let results: ParseResults | null = null;
let error: Error | null = null;
if (source) {
    try {
        results = await parse(source);
        Astro.response.headers.set("cache-control", "public, max-age=300");
    } catch (exception) {
        error = exception as Error;
    }
} else {
    error = TypeError(`No url detected.`);
}

if (error) {
    Astro.response.status = 500;
}
---

<Layout title={SITE_TITLE}>
    <main>
        {error && <Error error={error} />}
        <noscript>
            {
                source && (
                    <p class="font-semibold">
                        Source:{" "}
                        <a href={source} target="_blank">
                            {source}
                        </a>
                    </p>
                )
            }
        </noscript>
        {results?.xml && <XML feed={results.xml} />}
        {results?.html && <HTML content={results.html} />}
    </main>
</Layout>
