---
import type { FeedItem } from "../env";
import { Image } from "@astrojs/image/components";

export interface Props {
    item: FeedItem;
}

const {
    item: {
        creator,
        contentSnippet,
        link,
        pubDate,
        title,
        "media:thumbnail": { $: { url: thumbnail } } = { $: {} },
    },
} = Astro.props;
---

<li class="link-card">
    <a href={link} rel="prefetch" target="_blank">
        <h2>
            {title}
            <span>&rarr;</span>
        </h2>
        <p>
            <b
                >{
                    pubDate && (
                        <>{new Date(pubDate).toLocaleString()} &#8226; </>
                    )
                }{creator}
            </b>
        </p>
        <p>
            {
                thumbnail && (
                    <Image
                        alt=""
                        aspectRatio="1"
                        format="webp"
                        loading="lazy"
                        src={thumbnail}
                        width="128"
                    />
                )
            }
            {contentSnippet}
        </p>
    </a>
</li>

<style>
    :root {
        --link-gradient: linear-gradient(
            45deg,
            #4f39fa,
            #da62c4 30%,
            var(--color-border) 60%
        );
    }

    .link-card {
        list-style: none;
        display: flex;
        padding: 0.15rem;
        background-image: var(--link-gradient);
        background-size: 400%;
        border-radius: 0.5rem;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .link-card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: 1em 1.3em;
        border-radius: 0.35rem;
        color: var(--text-color);
        background-color: white;
        opacity: 0.8;
    }

    .link-card img {
        float: left;
        margin-right: 1ch;
        border-radius: 0.5rem;
    }

    .link-card:is(:hover, :focus-within) img {
        border: 0.25ch solid #4f39fa;
        margin: -0.25ch 0.75ch -0.25ch -0.25ch;
    }

    h2 {
        margin: 0;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    p {
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

    h2 span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .link-card:is(:hover, :focus-within) {
        background-position: 0;
    }

    .link-card:is(:hover, :focus-within) h2 {
        color: #4f39fa;
    }

    .link-card:is(:hover, :focus-within) h2 span {
        will-change: transform;
        transform: translateX(2px);
    }
</style>
