---
import type { FeedItem } from "../env";
import { Image } from "@astrojs/image/components";

export interface Props {
    item: FeedItem;
}

const {
    item: {
        author,
        contentSnippet,
        link,
        pubDate,
        title,
        "media:thumbnail": { $: { url: thumbnail } } = { $: {} },
    },
} = Astro.props;
---

<section>
    <a href={link} target="_blank">
        <h3>
            {title}
            {Boolean(link) && <>&rarr;</>}
        </h3>
    </a>
    <h4 class="mt-2">
        {pubDate && new Date(pubDate).toLocaleString()}
        {author && <>&#8226; {author}</>}
    </h4>
    <p class="flex gap-4">
        {
            thumbnail && (
                <Image
                    alt=""
                    class="rounded"
                    format="webp"
                    height="128"
                    loading="lazy"
                    src={thumbnail}
                    width="128"
                />
            )
        }
        {contentSnippet}
    </p>
</section>
